/* Google Fonts - Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #000;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

a {
  color: rgb(100, 149, 237);
  text-decoration: none;
}

a:hover {
  color: rgb(102, 217, 239);
}
