/* Google Fonts - Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  background-color: rgb(32, 42, 68);
  color: rgb(230, 230, 230);
}

h1,
h2,
h3 {
  color: rgb(255, 255, 255);
  font-weight: 700;
}

a {
  color: rgb(100, 149, 237);
  text-decoration: none;
}

a:hover {
  color: rgb(102, 217, 239);
}
